<section>
    <div class="section-advantages">

        <h2 class="visually-hidden" id="advantages">
            Advantages
        </h2>

        <div class="block-advantages-list">

            <ol class="advantages-list">
                <li class="advantages-item">
                    <h3 class="advantages-item-title">01</h3>
                    <p class="advantages-item-description">Swimming and water sports: try your hand at water skiing</p>
                </li>
                <li class="advantages-item">
                    <h3 class="advantages-item-title">02</h3>
                    <p class="advantages-item-description">Fishing: try to catch your own dinner</p>
                </li>
                <li class="advantages-item">
                    <h3 class="advantages-item-title">03</h3>
                    <p class="advantages-item-description">Sightseeing tours: take a shore or island tour, enjoy the
                        views and sunsets from the water</p>
                </li>
                <li class="advantages-item">
                    <h3 class="advantages-item-title">04</h3>
                    <p class="advantages-item-description">Rest and relaxation: read a book or listen to music while
                        enjoying the outdoor atmosphere.</p>
                </li>
            </ol>

        </div>

        <div class="advantages-picture">
            <picture>
                <source
                    srcset="./img/advantages/advantages-image-1440px 1x, ./img/advantages/advantages-image-1440@2x.jpg 2x"
                    media="(min-width: 1440px)" />
                <source
                    srcset="./img/advantages/advantages-image-desktop.jpg 1x, ./img/advantages/advantages-image-desktop@2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source
                    srcset="./img/advantages/advantages-image-tablet.jpg 1x, ./img/advantages/advantages-image-tablet@2x.jpg 2x"
                    media="(min-width: 768px)" />
                <source
                    srcset="./img/advantages/advantages-image-mob.jpg 1x, ./img/advantages/advantages-image-mob@2x.jpg 2x"
                    media="(max-width: 767px)" />
                <img src="./img/advantages/advantages-image-mob.jpg" alt="Advantages" width="335" height="424"
                    class="advantages-image" />
            </picture>
        </div>

    </div>
</section>