<section class="our-yachts-section" id="our-yachts">
  <div class="container our-yachts-container">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts-list">
      <li class="our-yachts-list-item yath-arrow-item active">
        <picture class="our-yachts-list-picture">
          <source srcset="
              ./img/yaht-arrow-large.jpg    1x,
              ./img/yaht-arrow-large@2x.jpg 2x
            " media="(min-width: 1440px)" />
          <source srcset="./img/yaht-arrow-pc.jpg 1x, ./img/yaht-arrow-pc@2x.jpg 2x" media="(min-width: 1280px)" />
          <source srcset="./img/yaht-arrow-tab.jpg 1x, ./img/yaht-arrow-tab@2x.jpg 2x" media="(min-width: 768px)" />
          <source srcset="
              ./img/yaht-arrow-mobile.jpg    1x,
              ./img/yaht-arrow-mobile@2x.jpg 2x
            " media="(max-width: 768px)" />
          <img src="./img/yaht-arrow-mobile.jpg" alt="arrow-yacht" />
        </picture>
        <div class="yacht-info">
          <h3 class="yacht-info-title">
            arrow<span class="yacht-info-title-span">luxury yahts</span>
          </h3>
          <div class="yacht-info-lists-container">
            <ul class="yacht-info-list-label">
              <li class="yacht-info-label-item">
                <p class="yacht-info-label-text">LENGTH</p>
              </li>
              <li class="yacht-info-label-item">
                <p class="yacht-info-label-text">BUILDER</p>
              </li>
              <li class="yacht-info-label-item">
                <p class="yacht-info-label-text">BUILT</p>
              </li>
              <li class="yacht-info-label-item">
                <p class="yacht-info-label-text">GUESTS</p>
              </li>
              <li class="yacht-info-label-item">
                <p class="yacht-info-label-text">PRICE</p>
              </li>
            </ul>
            <ul class="yacht-info-list-value">
              <li class="yacht-info-value-item">
                <p class="yacht-info-value-text">48m(155ft)</p>
              </li>
              <li class="yacht-info-value-item">
                <p class="yacht-info-value-text">Admiral</p>
              </li>
              <li class="yacht-info-value-item">
                <p class="yacht-info-value-text">2021</p>
              </li>
              <li class="yacht-info-value-item">
                <p class="yacht-info-value-text">11 in 5 cabins</p>
              </li>
              <li class="yacht-info-value-item">
                <p class="yacht-info-value-text">€33,500,000</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="our-yachts-list-item yath-benetti-item">
        <picture class="our-yachts-list-picture">
          <source srcset="
              ./img/yaht-benetti-large.jpg    1x,
              ./img/yaht-benetti-large@2x.jpg 2x
            " media="(min-width: 1440px)" />
          <source srcset="
              ./img/yaht-benetti-pc.jpg    1x,
              ./img/yaht-benetti-pc@2x.jpg 2x
            " media="(min-width: 1280px)" />
          <source srcset="
              ./img/yaht-benetti-tab.jpg    1x,
              ./img/yaht-benetti-tab@2x.jpg 2x
            " media="(max-width: 1280px)" />

          <img src="./img/yaht-benetti-tab.jpg" alt="benetti-yacht" />
        </picture>
        <div class="yacht-info">
          <h3 class="yacht-info-title">
            <span class="benetti-name">BENETTI OASIS 40M BO122</span><span class="yacht-info-title-span">luxury
              yahts</span>
          </h3>
          <div class="yacht-info-lists-container">
            <ul class="yacht-info-list-label">
              <li class="yacht-info-label-item">
                <p class="yacht-info-label-text">LENGTH</p>
              </li>
              <li class="yacht-info-label-item">
                <p class="yacht-info-label-text">BUILDER</p>
              </li>
              <li class="yacht-info-label-item">
                <p class="yacht-info-label-text">BUILT</p>
              </li>
              <li class="yacht-info-label-item">
                <p class="yacht-info-label-text">GUESTS</p>
              </li>
              <li class="yacht-info-label-item">
                <p class="yacht-info-label-text">PRICE</p>
              </li>
            </ul>
            <ul class="yacht-info-list-value">
              <li class="yacht-info-value-item">
                <p class="yacht-info-value-text">41m (133ft)</p>
              </li>
              <li class="yacht-info-value-item">
                <p class="yacht-info-value-text">Benetti</p>
              </li>
              <li class="yacht-info-value-item">
                <p class="yacht-info-value-text">2025</p>
              </li>
              <li class="yacht-info-value-item">
                <p class="yacht-info-value-text">10 in 5 cabins</p>
              </li>
              <li class="yacht-info-value-item">
                <p class="yacht-info-value-text">€23,210,000</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="our-yachts-list-item yath-belle-item">
        <picture class="our-yachts-list-picture">
          <source srcset="
              ./img/yaht-belle-large.jpg    1x,
              ./img/yaht-belle-large@2x.jpg 2x
            " media="(min-width: 1440px)" />
          <source srcset="./img/yaht-belle-pc.jpg 1x, ./img/yaht-belle-pc@2x.jpg 2x" media="(max-width: 1440px)" />
          <img src="./img/yaht-belle-pc.jpg" alt="belle-yacht" />
        </picture>
        <div class="yacht-info">
          <h3 class="yacht-info-title">
            BELLE ANNA<span class="yacht-info-title-span">luxury yahts</span>
          </h3>
          <div class="yacht-info-lists-container">
            <ul class="yacht-info-list-label">
              <li class="yacht-info-label-item">
                <p class="yacht-info-label-text">LENGTH</p>
              </li>
              <li class="yacht-info-label-item">
                <p class="yacht-info-label-text">BUILDER</p>
              </li>
              <li class="yacht-info-label-item">
                <p class="yacht-info-label-text">BUILT</p>
              </li>
              <li class="yacht-info-label-item">
                <p class="yacht-info-label-text">GUESTS</p>
              </li>
              <li class="yacht-info-label-item">
                <p class="yacht-info-label-text">PRICE</p>
              </li>
            </ul>
            <ul class="yacht-info-list-value">
              <li class="yacht-info-value-item">
                <p class="yacht-info-value-text">50m(155ft)</p>
              </li>
              <li class="yacht-info-value-item">
                <p class="yacht-info-value-text">ISA</p>
              </li>
              <li class="yacht-info-value-item">
                <p class="yacht-info-value-text">2012</p>
              </li>
              <li class="yacht-info-value-item">
                <p class="yacht-info-value-text">12 in 6 cabins</p>
              </li>
              <li class="yacht-info-value-item">
                <p class="yacht-info-value-text">€21,000,000</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <a href="#rent" class="our-yachts-btn">Yacht rental</a>
  </div>
</section>