<section class="benefits">
    <div class="container benefits-container">
        <ul class="benefits-items-inner">
            <li class="benefits-item">
                <h3 class="benefits-item-title">
                    <svg class="benefits-item-icon" width="20" height="20">
                        <use href="/img/symbol-defs.svg#ship"></use>
                    </svg>
                    Exclusive Fleet
                </h3>
                <p class="benefits-item-text">
                    Sail in style with our premium selection of high-end yachts, equipped with state-of-the-art
                    amenities for an
                    unforgettable experience.
                </p>
                <a href="#" class="benefits-item-link">
                    Read More
                </a>
            </li>
            <li class="benefits-item">
                <h3 class="benefits-item-title">
                    <svg class="benefits-item-icon" width="20" height="20">
                        <use href="/img/symbol-defs.svg#globe"></use>
                    </svg>
                    Worldwide Destinations
                </h3>
                <p class="benefits-item-text">
                    From the Mediterranean to the Caribbean, we offer luxury charters in the most breathtaking
                    locations across the globe.
                </p>
                <a href="#" class="benefits-item-link">
                    Read More
                </a>
            </li>
            <li class="benefits-item">
                <h3 class="benefits-item-title">
                    <svg class="benefits-item-icon" width="20" height="20">
                        <use href="/img/symbol-defs.svg#group"></use>
                    </svg>
                    Professional Crew
                </h3>
                <p class="benefits-item-text">
                    Enjoy five-star service with experienced captains and crew dedicated to your comfort, safety,
                    and personalized
                    experience.
                </p>
                <a href="#" class="benefits-item-link">
                    Read More
                </a>
            </li>
            <li class="benefits-item">
                <h3 class="benefits-item-title">
                    <svg class="benefits-item-icon" width="20" height="20">
                        <use href="/img/symbol-defs.svg#star"></use>
                    </svg>
                    Tailored Experiences
                </h3>
                <p class="benefits-item-text">
                    From romantic getaways to corporate events, we customize every detail to match your vision and
                    needs.
                </p>
                <a href="#" class="benefits-item-link">
                    Read More
                </a>
            </li>
        </ul>
    </div>
</section>