.footer {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1b414b;
  border-radius: 24px 24px 0 0;
  padding: 40px 30px 20px;
}

.footer-container-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.footer-nav {
  display: flex;
}

.logo-footer {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 4px;
  margin-left: 37px;
}

.footer-nav-item a {
  display: block;
  color: #fbfbfb;
  background-color: rgba(251, 251, 251, 0.3);
  padding: 15px 12px;
  border-radius: 8px;
  font-size: 9px;
}

.footer-nav-item a:hover {
  background-color: #fbfbfb;
  color: #1b414b;
}

.footer-nav-item a:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

.footer-social-list {
  display: flex;
  margin-top: 80px;
  gap: 11px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}


.social-icons {
  fill: #fbfbfb;
  transition: transform 0.3s;
}

.footer-social-link:hover .social-icons {
  transform: scale(1.5);
  cursor: pointer;
}

.footer-text {
  font-size: 18px;
  text-align: center;
  max-width: 260px;
  margin-bottom: 82px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 12px;
  color: rgba(251, 251, 251, 0.4);
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer-bottom a {
  color: rgba(251, 251, 251, 0.4);
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom a:focus {
  text-decoration: underline;
}

/* планшетна-версія */
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 75px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0;
  }

  .footer-container {
    padding: 50px 48px 20px;
  }

  .footer-container-nav {
    flex-direction: row;
    margin-bottom: 96px;
    align-items: start;
  }

  .footer-text {
    font-size: 32px;
    max-width: 620px;
    margin-bottom: 99px;
  }

  .logo-footer {
    font-size: 20px;
  }

  .nav-links {
    margin-left: 110px;
  }

  .footer-nav-item a {
    padding: 15px 25px;
  }

  .footer-social-list {
    margin: 0 0 0 91px;
  }

  .footer-bottom {
    font-size: 14px;
    gap: 32px;
    line-height: 1.18;
  }
}

/* десктопна-версія */
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 75px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .footer-container {
    padding-right: 75px;
    padding-left: 75px;
  }

  .nav-links {
    margin-left: 326px;
  }

  .footer-text {
    max-width: 650px;
  }

  .social-links {
    margin: 0;
  }

  .footer-social-list {
    width: 88px;
    margin-left: 311px;
  }

  .footer-nav-item a {
    font-size: 9px;
  }
}

/* 1440 */
@media screen and (min-width: 1440px) {
  .footer-social-list {
    margin-left: 388px;
  }

  .nav-links {
    margin-left: 409px;
  }
}