.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.rent {
    padding: 40px 0;
}

.section-title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    padding-bottom: 40px;
}

.rent-form {
    max-width: 335px;
    margin-bottom: 80px;
}

.rent-form-input {
    box-sizing: border-box;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    width: 100%;
    height: 42px;
    padding-left: 18px;
    outline: transparent;
    background-color: transparent;
    margin-bottom: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: #fbfbfb;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-form-input::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: rgba(251, 251, 251, 0.4);
}

.rent-form-input:focus,
.rent-form-input:hover,
.rent-form-input:active {
    border: 1px solid rgba(251, 251, 251, 0.5);
}

.rent-form-textarea {
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    padding: 14px 18px 14px 18px;
    width: 100%;
    margin-bottom: 40px;
    height: auto;
    min-height: 108px;
    resize: none;
}

.rent-button {
    border: transparent;
    border-radius: 15px;
    min-width: 122px;
    height: 46px;
    background: #1b414b;
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-button:hover,
.rent-button:focus {
    background: #fbfbfb;
    color: #1b414b;
}

@media (max-width: 374px) {

    .rent-a-yacht h2 {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 768px) {

    .rent {
        padding: 75px 0;
    }

    .section-title {
        font-size: 48px;
        padding-bottom: 50px;
    }

    .rent-form {
        margin: 0 auto;
        max-width: 473px;
        margin-bottom: 100px;
    }

    .rent-form-textarea {
        margin-bottom: 50px;
    }

    .rent-button {
        border-radius: 15px;
        width: 194px;
        height: 56px;
        background: #1b414b;
        font-size: 18px;
        line-height: 1.1;
    }
}

@media screen and (min-width: 1280px) {

    .rent-form {
        padding: 0;
        margin: 0;
    }

    .desktop {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 50px;
    }

    .image-wrapper {
        flex: 1;
        min-width: 658px;
        margin-right: 50px;
    }

    .text-form-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .section-title {
        padding: 0 0 50px 0;
        width: 381px;
    }
}

@media screen and (min-width: 1440px) {

    .image-wrapper {
        min-width: 768px;
    }
}